In [1]:
import pandas as pd
import pickle
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
plt.rcParams['figure.figsize'] = (12, 8)
plt.style.use('seaborn-deep')

In [5]:
df = pd.read_pickle("q_table.pkl")

In [8]:
df[['velocity', 'position']].head(15)

    velocity  position
0        3.0       0.0
41       1.0       1.0
85       0.0       1.0
53       1.0       2.0
6        2.0       2.0
24       0.0       2.0
25       1.0       3.0
52       2.0       3.0
1        3.0       3.0
68       0.0       3.0
54       0.0       4.0
42       3.0       4.0
35       4.0       4.0
26       1.0       4.0
57       2.0       4.0

In [9]:
df.head().to_string()

'    no_change  speed_up  speed_up_up  slow_down  slow_down_down  position  velocity\n0     4.56189  0.897988     0.000000   -2.31611            -6.1       0.0       3.0\n41   -1.20000  0.761890     0.399890   -4.10000             0.0       1.0       1.0\n85   -2.10000 -3.200000    -1.238110    0.00000             0.0       1.0       0.0\n53    0.96189  0.934843     0.863916   -3.20000             0.0       2.0       1.0\n6     2.94189  2.982100     2.602103   -1.03811            -5.2       2.0       2.0'